@charset "UTF-8";

/*Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet:  768px até 992px
Desktop: 992px até 1200px
TV / (Grandes Telas): acima de 1200px
*/
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Updock&display=swap');

@font-face {
    font-family: 'Akronim';
    font-family: 'Updock';
    font-family: 'Kalnia+Glaze';
    
    font-weight: normal;

}

:root {
    --cor0: #071952;
    --cor1: #088395;
    --cor2: #37B7C3;
    --cor3: #EBF4F6;
    --cor4: #0B1215;
    --cor5: #352f36;
    --cor6: #101720;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-01: "Sedan SC", serif;
    --fonte-02: 'Updock', cursive;
    --fonte-03: 'KalniaGlaze', cursive;
    }








* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    
}

body, html {
    background-color: #0c1118;
    color: white;
    height: 100%;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    margin-bottom: 100px;
    
}

nav > h1 {
    font-family: "Sedan SC", serif;
    font-size: 15px;
    padding: 30px 10vw;
    border: 0px;
    
}
.sobrenome {
    color: var(--cor2);
    text-shadow: 0px 0px 20px var(--cor2);
    
}

nav a{
    text-align: justify;
    margin-right: 10px;
    width: auto;
    float: right;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: "Sedan SC", serif;
}
nav > a:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
    color: var(--cor2);
    text-decoration: underline;
    text-shadow: 0px 0px 20px var(--cor2);
    
}
/* Daqui pra baixo é a foto + conteúdo*/

main {
    padding: 10px;
  
}
.h001 {
    font-family: "Sedan SC", serif;
    font-size: 20px;
}

h2 {
    position: relative;
    font-size: 15px;
    font-family: "Sedan SC", serif;
    margin-left: 45px;
}

main p {
    font-size: 10px;
    margin-right: 60px;
    margin-left: 60px;
    padding: 2em 1em;
    text-align: center;
    text-align: justify;
    
}

main .nomegiovani {
    color: var(--cor2);
    text-shadow: 0px 0px 20px var(--cor2);
    
}

main .resumo {
    color: var(--cor2);
    text-shadow: 0px 0px 20px var(--cor2);
}
img {
    height: 140px;
    background-size: cover;
    width: 140px;
    left: 50%;
    border-radius: 50% 50%;
    float: right;
    border: 2px solid var(--cor2);
    box-shadow: 0px 0px 12px var(--cor2);
    
}
img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    box-shadow: 0px 0px 30px var(--cor2);
    cursor: pointer;
}

#redes > .verde  {
    top: 120px;
    left: 30px;
    color: rgb(0, 0, 0);
    background-color: var(--cor2);
    border-radius: 40%;
    padding: 5px;
    box-shadow: 0px 0px 20px var(--cor2);
}
#redes > .verde:hover {
    color: black;
    text-decoration: none;
    
}

#redes > a {
    border-radius: 40%;
    color: var(--cor2);
    position: relative;
    text-decoration: none;
    font-family: "Sedan SC", serif;
    top: 120px;
    left: 30px;
    
}

#redes > a:hover { 
    transform: scale(1.2);
    transition: transform 0.3s;
    color: var(--cor2);
    text-decoration: underline;
    text-shadow: 0px 0px 20px var(--cor2);
}
.img01 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 70px;
    bottom: 130px;
}
.img02 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 145px;
    bottom: 130px;
}
/* Daqui pra cima é a foto + conteúdo*/



/* Daqui pra baixo é a parte (educação)*/
#raiz {
    margin-top: 20em;
    font-size: 15px;
    
}

.linhav {
    width: 1px;
    height: 500px;
    background-color: white;
    margin-left: 50%;
    position: relative;
    background-color: var(--cor2);
    box-shadow: 0px 0px 20px var(--cor2);
}


.linhav::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -6px;
    width: 12px;
    height: 12px;
    background-color: var(--cor2);
    border-radius: 50%;
    box-shadow: 0px 0px 20px var(--cor2);
}

.linhav::after {
    content: '';
    position: absolute;
    top: 166px;
    left: -6px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    background-color: var(--cor2);
    box-shadow: 0px 0px 20px var(--cor2);
}

.linhab::before {
    content: '';
    position: absolute;
    top: 332px;
    left: -6px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    background-color: var(--cor2);
    box-shadow: 0px 0px 20px var(--cor2);
}

.linhab::after {
    content: '';
    position: absolute;
    top: 500px;
    left: -6px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    background-color: var(--cor2);
    box-shadow: 0px 0px 20px var(--cor2);
}
#raiz > h1 {
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 0px 20px var(--cor2);
    font-family: "Sedan SC", serif;
}

#raiz > div > p,h3 {
    position: relative;
    font-size: 10px;
    width: 30vw;
}
.big1{
    position: relative;
    font-size: 10px;
    left: -2px;
    right: 10px;
    bottom: 10px;
    color: var(--cor2);
}
.big2{
    position: relative;
    font-size: 10px;
    right: 2px;
    bottom: 10px;
    color: var(--cor2);
}
.big3{
    position: relative;
    font-size: 10px;
    left: 4px;
    bottom: 10px;
    color: var(--cor2);
}
.big4{
    position: relative;
    font-size: 10px;
    right: -3px;
    bottom: 10px;
    color: var(--cor2);
}

.r1, .r2 , .r3 , .r4 {
    display: inline-block;
    
}
.r1 > p, .r2 > p, .r3 > p , .r4 > p {
    text-indent: 20px;
    border: 1px solid white;
    border-radius: 20% 20%;
    top: 10px;
    border-color:  var(--cor2);
    box-shadow: 0px 0px 10px var(--cor2);
    background-color: #0B1215;
    margin: 0px;
}

.r1 > h3{
    position: relative;
    left: 80px;
    float: right;
    width: 100px;
    font-size: 12px;
    bottom: 10px;
}
.r2 > h3{
    position: relative;
    right: 20px;
    font-size: 12px;
    float: left;
    width: 100px;
    bottom: 10px;
}
.r3 > h3 {
    position: relative;
    left: 87px;
    float: right;
    width: 100px;
    font-size: 12px;
    bottom: 1px;
}
.r4 > h3 {
    position: relative;
    right: 15px;
    font-size: 12px;
    float: left;
    width: 100px;
    bottom: 5px;
}

.r1 {
    position: relative;
    top: 180px;
    left: 40px;
    
}


.r2 {
    position: relative;
    top: 340px;
    float: right;
    right: 30px;
   margin-block: 0px;
  
}

.r3 {
    position: relative;
    bottom: 155px;
    
    left: 40px;
}

.r4 {
    position: relative;
    float: right;
    top: 20px;
    right: 45px;
}
/* Daqui pra cima é a parte (educação)*/



/* Daqui pra baixo é a parte da Experiência*/
#container {
    
    margin-top: 150px;
    color: black;
    text-align: left;
    width: 100%;
    
     
}
#container > h1 {
    color: white;
    padding-bottom: 50px;
    text-align: center;
    text-shadow: 0px 0px 20px var(--cor2);
    font-family: "Sedan SC", serif;
}

 .q1 > h2,.q2  > h2{
   position: relative;
   right: -10px;
   font-family: "Sedan SC", serif;
}
.q3 > h2,.q4 > h2 {
    position: relative;
   right: -10px;
   font-family: "Sedan SC", serif;
}

#container > div > .q1,.q2,.q3,.q4, h2 {
    position: relative;
    top: 10px;
}
.q1 , .q2 , .q3 , .q4 {
    cursor: pointer;
    position: relative;
    text-shadow: 1px 2px 3px #0b121566;
    margin-top: 10px;
    color: #0B1215;
    border-radius: 20px 20px 20px 20px;
    background-color: var(--cor2);
    height: 130px;
}

.q1:hover , .q2:hover , .q3:hover , .q4:hover {
    background-color: aliceblue;
    border: 2px solid var(--cor2);
    color: #0B1215;
}
/* Daqui pra cima é a parte da Experiência*/




/*daqui pra baixo é o rodapé*/
footer {
    text-align: center;
    width: 100%;
    padding-top: 100px;
    
}

footer > a { 
    
    margin-right: 10px;
    width: auto;
    font-size: 13px;
    float: center;
    text-decoration: none;
    color: white;
    display: inline-block;
}
footer > a:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
    color: var(--cor2);
    text-decoration: underline;
    text-shadow: 0px 0px 20px var(--cor2);
}

footer > p {
    text-align: center;
    width: 100%;
    margin: 0%;
    padding-top: 15px;
    padding-bottom: 0px;
    
}
