@charset "UTF-8";

/*Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet:  768px até 992px
Desktop: 992px até 1200px
TV / (Grandes Telas): acima de 1200px
*/

@font-face {
    font-family: 'Akronim';
    font-family: 'Updock';
    font-family: 'Kalnia_Glaze';
    src: url('../Fonts/Akronim/Akronim-Regular.ttf') format('truetype');
    src: url('../Fonts/Updock/Updock-Regular.ttf') format('truetype');
    src: url('../Fonts/Kalnia_Glaze/KalniaGlaze-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;

}

:root {
    --cor0: #071952;
    --cor1: #088395;
    --cor2: #37B7C3;
    --cor3: #EBF4F6;
    --cor4: #0B1215;
    --cor5: #352f36;
    --cor6: #101720;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-01: 'Akronim', cursive;
    --fonte-02: 'Updock', cursive;
    --fonte-03: 'Kalnia_Glaze', cursive;
    }








* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    
}

body, html {
    background-color: black;
    color: white;
    height: 100vh;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    margin-bottom: 100px;
    
}

nav > h1 {
    font-family: var(--fonte-02);
    font-size: 15px;
    padding: 30px 10vw;
    border: 0px;
}
.sobrenome {
    color: var(--cor2);
    text-shadow: 0px 0px 20px var(--cor2);
}

nav a{
    text-align: justify;
    margin-right: 10px;
    width: auto;
    float: right;
    text-decoration: none;
    color: white;
    display: inline-block;
    
}
nav > a:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    color: var(--cor2);
    text-decoration: underline;
    text-shadow: 0px 0px 20px var(--cor2);
}

main {
    padding: 10px;
}
img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: center;
    padding: 10px 0px;
    display: block;
    left: 20%;
}
h2 {
    font-size: 20px;
}

main p {
    width: auto;
    margin-right: 60px;
    margin-left: 60px;
    padding: 2em 1em;
    text-align: center;
    text-align: justify;
    font-size: medium;
}

main .nomegiovani {
    color: var(--cor2);
    text-shadow: 0px 0px 20px var(--cor2);
}

main .resumo {
    color: var(--cor2);
    text-shadow: 0px 0px 20px var(--cor2);
}
